.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.boton-buy-me-a-coffee {
  display: inline-block;
  padding: 10px 30px;
  background-color: #54a4b7;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
  background-color: #4a90a0;
}

img {
    max-width: 100%; // La imagen no será más ancha que su contenedor
    height: auto;   // Ajusta la altura automáticamente para mantener la proporción
  }
}

p {
    text-align: justify;
  }

